<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the page -->
    <title>Data Collection</title>

    <!-- Link to external stylesheet -->
    <!-- Using url_for for importing the css from the static folder -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <a href="/">
        <!-- Using url_for for importing the image from the static folder -->
        <img
          src="{{ url_for('static',filename='assets/GIC Logo.jpeg') }}"
          alt="GIC logo"
        />
      </a>

      <!-- replacing the file path to just the route name -->
      <a href="/">Home</a>
      <a href="/information">Information</a>
      <a href="/dataCollection">Data Collection</a>
    </nav>

    <!-- Main Content -->
    <div class="mainContent">
      <h1>Student Progress Questionnaire</h1>
      <p>
        This brief assessment is designed to help GIC understand your learning
        experience and identify areas where we can further support your success.
        Your honest feedback is crucial in this process. Please take your time,
        answer truthfully, and share your thoughts openly. Your opinions and
        suggestions will be used to improve teaching strategies, resources, and
        overall student support at GIC.
      </p>

      <!-- defining the form element and adding the action that would call the function on submit -->
      <!-- using the Flask WTF elements I have defined in form.py instead of the previous input and label elements -->
      <form method="POST" action="{{ url_for('data_collection') }}">
        <!-- {{ form.csrf_token }} -->
        <!-- Section 1  Student Data-->
        <section class="studentData">
          {{ form.name.label }} {{ form.name }}<br /><br />
          {{ form.student_number.label }} {{ form.student_number }}<br /><br />
          {{ form.email.label }} {{ form.email }}<br /><br />
        </section>

        <!-- Section 2 Course-Related Questions -->
        <section class="courseQuestions">
          <h2>Course-Related Questions</h2>
          <p>{{ form.gpa.label }}</p>
          {{ form.gpa }}<br /><br />

          <p>{{ form.teaching_satisfaction.label }}</p>
          <div class="radioGroup">{{ form.teaching_satisfaction }}</div>

          <p>{{ form.teaching_improvement_areas.label }}</p>
          {{ form.teaching_improvement_areas }}<br /><br />
        </section>

        <!-- > Section 3 Overall Experience -->
        <section>
          <h2>Overall Experience</h2>
          <p>{{ form.overall_experience.label }}</p>
          <div class="radioGroup">
            {{ form.overall_experience }}<br /><br />
          </div>
          <p>{{ form.experience_improvement_areas.label }}</p>
          {{ form.experience_improvement_areas }}<br /><br />
        </section>
        {% for error in form.name.errors %}
        <div>{{ error }}</div>
        {% endfor %}

        <!-- Submit Button -->
        <div class="submitButon">{{ form.submit }}</div>
      </form>
    </div>
    <footer>
      <p>&copy; 2024 Glasgow International College</p>
    </footer>
  </body>
</html>
