<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the page -->
    <title>GIC</title>

    <!-- Link to external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <a href="/">
        <img src="{{ url_for('static',filename='assets/GIC Logo.jpeg') }}" alt="GIC logo" />
      </a>
      <a href="/">Home</a>
      <a href="/information">Information</a>
      <a href="/dataCollection">Data Collection</a>
    </nav>

    <!-- Main Content -->
    <div class="mainContent">
      <h1 style="color: #143763;">Glasgow International College</h1>
      <h2>Help Us Track Your Success</h2>
      <p>
        This website is designed to help Glasgow International College (GIC)
        better understand your learning experience. By providing your feedback,
        you empower GIC to improve its teaching practices and tailor support
        programs to your specific needs. Your input is invaluable in ensuring
        your success and the success of your fellow students.
      </p>
      <div>
        <a class="callToAction" href="/information">Get Started</a>
      </div>
    </div>
    <footer>
      <p>&copy; 2024 Glasgow International College</p>
    </footer>
  </body>
</html>
