<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the page -->
    <title>information</title>

    <!-- Link to external stylesheet -->
    <!-- Using url_for for importing the css from the static folder -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <a href="/">
        <!-- Using url_for for importing the image from the static folder -->
        <img
          src="{{ url_for('static',filename='assets/GIC Logo.jpeg') }}"
          alt="GIC logo"
        />
      </a>

      <!-- replacing the file path to just the route name -->
      <a href="/">Home</a>
      <a href="/information">Information</a>
      <a href="/dataCollection">Data Collection</a>
    </nav>

    <!-- Main Content -->
    <div class="mainContent">
      <h1>Why Do We Collect Student Data</h1>
      <ul>
        <li>
          <span style="font-weight: bold"
            >Improved Instruction and Tailored Support:
          </span>
          The data you provide helps GIC identify areas where students excel and
          where they might need additional support. This allows teachers to
          adjust their teaching methods, design specific resources, and offer
          personalized guidance to ensure everyone grasps the material and
          reaches their full potential.
        </li>
        <li>
          <span style="font-weight: bold">Supports GIC's Goals: </span> Your
          feedback is instrumental in helping GIC achieve its goal of providing
          a high-quality education for all students. By understanding students'
          needs and perspectives, GIC can continuously improve its curriculum,
          enhance its learning environment, and ensure its resources effectively
          support your academic journey.
        </li>
        <li>
          <span style="font-weight: bold">Data Confidentiality: </span> GIC
          takes student privacy seriously. All information collected through
          this website is anonymous and kept confidential. It will only be used
          for internal research and improvement purposes and will never be
          shared with any third-party individuals or organizations.
        </li>
      </ul>

      <div>
        <a class="callToAction" href="/dataCollection"
          >Begin Your Assessment</a
        >
      </div>
    </div>
    <footer>
      <p>&copy; 2024 Glasgow International College</p>
    </footer>
  </body>
</html>
